.swiper-container{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.swiper-wrapper{
  display: flex;
  transition-property: transform;
}
.swiper-slide{
  flex-shrink: 0;
}
.swiper-pagination{
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  display: flex;
}
.swiper-pagination-switch{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: .3;
  background: #fff;
  margin-right: 5px;
}
.swiper-pagination-switch:last-child{
  margin-right: 0;
}
.swiper-pagination-switch-active{
  opacity: .8;
}